* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans MT", sans-serif;
  font-size: 18px;
  background-color: #e4e9f1;
  position: relative;
}

.container {
  background-color: #e4e9f1;
  min-height: calc(100vh - 70px);
  position: relative;
}

.container > div:not(div.logo) {
  transition: padding 2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  background-color: #1f2f61;
  padding: 15px;
  font-family: Poppins, Helvetica;
  color: #486ee0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.white {
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px #486ee0, 0 0 5px darkblue;
}

.logo small {
  font-size: 15px;
}

.display {
  margin: 15px 20px;
  font-family: "britannic-bold-regular", sans-serif;
}

.card {
  background-color: #fff;
  margin: 15px 20px;
  padding: 20px;
  text-align: center;
  line-height: 2em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-group-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hundred {
  width: 100%;
}

.hide {
  cursor: pointer;
}

.inc p, .i-type_ {
  font-size: 16px;
  font-weight: 600;
  color: #1add7b;
}


.exp p, .e-type_ {
  font-size: 16px;
  font-weight: 600;
  color: #cc1212;
}

.i-type_, .e-type_ {
  font-size: 15px;
  font-weight: normal;
}

.bal h4,
.inc h4,
.exp h4 {
  text-transform: uppercase;
  color: #888787e6;
}

.la-arrow-alt-circle-down {
  color: #256e2e;
}

.la-arrow-alt-circle-up {
  color: #a34;
}

.bal p {
  margin-top: 10px;
  font-size: 25px;
  color: #334fa1;
}

.body {
  clear: both;
  padding: 0 25px;
}

.toggle div {
  width: 33%;
  float: left;
  text-align: center;
  color: #1f2f61;
  font-weight: bold;
  padding: 10px 0;
}

.hide {
  opacity: 0.6;
}

.inactive {
  display: none;
}

.inc-list,
.hist-list,
.recent-list {
  clear: left;
  position: relative;
}

.list {
  width: 100%;
  overflow-x: auto;
}

li {
  position: relative;
}

.card-small {
  background-color: #fff;
  margin: 10px 20px;
  padding: 15px;
  border-radius: 20px;
  /* box-shadow: 0 0 0 0.4rem rgba(56, 200, 79, 0.5); */
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.title {
  float: left;
  width: 70%;
}

.amount {
  float: right;
  text-align: right;
  font-family: "britannic-bold-regular", sans-serif;
}

.date {
  color: #696868;
  font-size: 15px;
}

.right {
  float: right;
}

.edit {
  width: 25px;
  position: absolute;
  bottom: 3%;
  right: 30px;
  color: #1f2f61;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  width: 25px;
  position: absolute;
  font-size: 20px;
  bottom: 3%;
  right: 5px;
  color: #1f2f61;
  cursor: pointer;
}

.form {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  z-index: 100;
}

.open-modal {
  position: fixed;
  right: 50px;
  bottom: 65px;
  z-index: 10;
  background-color: #1f2f61b3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  border: none;
  outline: none;
  cursor: pointer;
}

.open-modal:hover {
  background-color: #1f2f61;
}

.open-modal:hover,
.close-modal:hover {
  transform: rotate(360deg);
  transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

.close-modal {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 30px;
}

.input-form {
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
}

.form table {
  border-collapse: collapse;
  border-spacing: 10px;
}

.form table td.m-right {
  padding-right: 10px;
}

.error {
  color: #f00;
  font-size: 15px;
  margin-bottom: 5px;
}

.input-field {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  width: 100%;
  border-bottom: 3px solid #1f2f61;
}

.filter {
  text-align: center;
}

.select {
  width: 30%;
  margin: 5px auto;
}

.input-field:focus {
  outline: 1px solid #1f2f61;
}

.add-transaction {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  text-transform: uppercase;
  background-color: #1f2f61b3;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-family: "britannic-bold-regular", sans-serif;
}

.add-transaction:hover {
  background-color: #1f2f61;
  transition: background-color 0.2s ease-in;
}

footer {
  text-align: center;
  background-color: #1f2f61;
  padding: 20px 50px;
  font-family: Poppins, Helvetica;
  color: #fff;
  height: 60px;
  margin-top: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer a {
  text-decoration: underline;
  color: #869feb;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

@media (min-width: 720px) {
  .container > div:not(div.logo) {
    padding: 0 250px;
    transition: padding 4s;
  }

  .logo {
    padding: 10px 50px;
    font-size: 60px;
  }
}
