.form {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  background-color: rgba(255, 255, 255, .6);
  padding: 50px;
  color: #fff;
}

.close-form {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  background-color: #aaa;
}
